<div class="w-75 border mx-auto my-5">
  <ul class="nav nav-tabs bg-dark " id="myTab" role="tablist">
    <li class="nav-item col-3">
      <a class="nav-link text-white active" id="home-tab1" data-toggle="tab" href="#home1" role="tab" aria-controls="home1" aria-selected="true">Obrada betona</a>
    </li>
    <li class="nav-item col-3">
      <a class="nav-link text-white" id="profile-tab1" data-toggle="tab" href="#profile1" role="tab" aria-controls="profile1" aria-selected="false">Vertikalni transport i ugradnja betona</a>
    </li>
    <li class="nav-item col-3">
      <a class="nav-link text-white" id="contact-tab1" data-toggle="tab" href="#contact1" role="tab" aria-controls="contact1" aria-selected="false">Proizvodnja, transport i ugradnja betona</a>
    </li>

    <li class="nav-item col-3">
      <a class="nav-link text-white" id="home-tab2" data-toggle="tab" href="#home2" role="tab" aria-controls="home2" aria-selected="false">Oprema</a>
    </li>
    <li class="nav-item col-3">
      <a class="nav-link text-white" id="profile-tab2" data-toggle="tab" href="#profile2" role="tab" aria-controls="profile2" aria-selected="false">Oplatni sistemi</a>
    </li>
    <li class="nav-item col-3">
      <a class="nav-link text-white" id="contact-tab2" data-toggle="tab" href="#contact2" role="tab" aria-controls="contact2" aria-selected="false">Sabijanje tla</a>
    </li>

    <li class="nav-item col-3">
      <a class="nav-link text-white" id="home-tab3" data-toggle="tab" href="#home3" role="tab" aria-controls="home3" aria-selected="false">Hidraulicni uredjaji i kompresori</a>
    </li>
    <li class="nav-item col-3">
      <a class="nav-link text-white" id="profile-tab3" data-toggle="tab" href="#profile3" role="tab" aria-controls="profile3" aria-selected="false">Agregati i kompresori</a>
    </li>
    <li class="nav-item col-3">
      <a class="nav-link text-white" id="contact-tab3" data-toggle="tab" href="#contact3" role="tab" aria-controls="contact3" aria-selected="false">Armiracki program</a>
    </li>

    <li class="nav-item col-3">
      <a class="nav-link text-white" id="home-tab4" data-toggle="tab" href="#home4" role="tab" aria-controls="home4" aria-selected="false">Uredjaji i alati za secenje</a>
    </li>
    <li class="nav-item col-3">
      <a class="nav-link text-white" id="profile-tab4" data-toggle="tab" href="#profile4" role="tab" aria-controls="profile4" aria-selected="false">Rucni alat i merni uredjaji</a>
    </li>
    <li class="nav-item col-3">
      <a class="nav-link text-white" id="contact-tab4" data-toggle="tab" href="#contact4" role="tab" aria-controls="contact4" aria-selected="false">Zastitna oprema</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home1" role="tabpanel" aria-labelledby="home-tab1">
      ... Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae itaque molestiae assumenda illo deserunt nesciunt, eaque distinctio? Praesentium adipisci quidem eaque numquam reprehenderit veniam cumque, optio, ad nisi ullam dolorem vitae reiciendis quibusdam placeat quas amet recusandae ea beatae fuga. Quam unde voluptate at ut labore odit eligendi adipisci officiis?
    </div>
    <div class="tab-pane fade" id="profile1" role="tabpanel" aria-labelledby="profile-tab1">
      ...
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam distinctio rerum quos minima, voluptas facilis quisquam necessitatibus consequuntur pariatur placeat repellat officia tempore non, magni maiores eius quidem iusto quam modi accusamus earum dignissimos molestiae in dolor! Autem aliquam vero veniam officiis, reiciendis sed cum fuga, exercitationem est consectetur quibusdam fugit iusto illo maiores laborum sit dolor tenetur quo repellat? Molestiae dolor quo ea dolore quisquam quibusdam architecto totam velit?
    </div>
    <div class="tab-pane fade" id="contact1" role="tabpanel" aria-labelledby="contact-tab1">
      ...
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi repellat magni soluta culpa natus reprehenderit doloribus nobis deserunt, velit reiciendis, porro, suscipit earum facilis asperiores rerum? Voluptas temporibus error impedit fugiat eum, delectus harum voluptatem dicta at deleniti laborum quidem nesciunt ratione! Quasi exercitationem eos dicta possimus quaerat praesentium odit ratione ducimus, expedita quas officia dolorum, aliquid consequuntur? Optio, ea.
    </div>

    <div class="tab-pane fade" id="home2" role="tabpanel" aria-labelledby="home-tab2">
      ... Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae itaque molestiae assumenda illo deserunt nesciunt, eaque distinctio? Praesentium adipisci quidem eaque numquam reprehenderit veniam cumque, optio, ad nisi ullam dolorem vitae reiciendis quibusdam placeat quas amet recusandae ea beatae fuga. Quam unde voluptate at ut labore odit eligendi adipisci officiis?
    </div>
    <div class="tab-pane fade" id="profile2" role="tabpanel" aria-labelledby="profile-tab2">
      ...
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam distinctio rerum quos minima, voluptas facilis quisquam necessitatibus consequuntur pariatur placeat repellat officia tempore non, magni maiores eius quidem iusto quam modi accusamus earum dignissimos molestiae in dolor! Autem aliquam vero veniam officiis, reiciendis sed cum fuga, exercitationem est consectetur quibusdam fugit iusto illo maiores laborum sit dolor tenetur quo repellat? Molestiae dolor quo ea dolore quisquam quibusdam architecto totam velit?
    </div>
    <div class="tab-pane fade" id="contact2" role="tabpanel" aria-labelledby="contact-tab2">
      ...
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi repellat magni soluta culpa natus reprehenderit doloribus nobis deserunt, velit reiciendis, porro, suscipit earum facilis asperiores rerum? Voluptas temporibus error impedit fugiat eum, delectus harum voluptatem dicta at deleniti laborum quidem nesciunt ratione! Quasi exercitationem eos dicta possimus quaerat praesentium odit ratione ducimus, expedita quas officia dolorum, aliquid consequuntur? Optio, ea.
    </div>

    <div class="tab-pane fade" id="home3" role="tabpanel" aria-labelledby="home-tab3">
      ... Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae itaque molestiae assumenda illo deserunt nesciunt, eaque distinctio? Praesentium adipisci quidem eaque numquam reprehenderit veniam cumque, optio, ad nisi ullam dolorem vitae reiciendis quibusdam placeat quas amet recusandae ea beatae fuga. Quam unde voluptate at ut labore odit eligendi adipisci officiis?
    </div>
    <div class="tab-pane fade" id="profile3" role="tabpanel" aria-labelledby="profile-tab3">
      ...
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam distinctio rerum quos minima, voluptas facilis quisquam necessitatibus consequuntur pariatur placeat repellat officia tempore non, magni maiores eius quidem iusto quam modi accusamus earum dignissimos molestiae in dolor! Autem aliquam vero veniam officiis, reiciendis sed cum fuga, exercitationem est consectetur quibusdam fugit iusto illo maiores laborum sit dolor tenetur quo repellat? Molestiae dolor quo ea dolore quisquam quibusdam architecto totam velit?
    </div>
    <div class="tab-pane fade" id="contact3" role="tabpanel" aria-labelledby="contact-tab3">
      ...
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi repellat magni soluta culpa natus reprehenderit doloribus nobis deserunt, velit reiciendis, porro, suscipit earum facilis asperiores rerum? Voluptas temporibus error impedit fugiat eum, delectus harum voluptatem dicta at deleniti laborum quidem nesciunt ratione! Quasi exercitationem eos dicta possimus quaerat praesentium odit ratione ducimus, expedita quas officia dolorum, aliquid consequuntur? Optio, ea.
    </div>

    <div class="tab-pane fade" id="home4" role="tabpanel" aria-labelledby="home-tab4">
      ... Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae itaque molestiae assumenda illo deserunt nesciunt, eaque distinctio? Praesentium adipisci quidem eaque numquam reprehenderit veniam cumque, optio, ad nisi ullam dolorem vitae reiciendis quibusdam placeat quas amet recusandae ea beatae fuga. Quam unde voluptate at ut labore odit eligendi adipisci officiis?
    </div>
    <div class="tab-pane fade" id="profile4" role="tabpanel" aria-labelledby="profile-tab4">
      ...
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam distinctio rerum quos minima, voluptas facilis quisquam necessitatibus consequuntur pariatur placeat repellat officia tempore non, magni maiores eius quidem iusto quam modi accusamus earum dignissimos molestiae in dolor! Autem aliquam vero veniam officiis, reiciendis sed cum fuga, exercitationem est consectetur quibusdam fugit iusto illo maiores laborum sit dolor tenetur quo repellat? Molestiae dolor quo ea dolore quisquam quibusdam architecto totam velit?
    </div>
    <div class="tab-pane fade" id="contact4" role="tabpanel" aria-labelledby="contact-tab4">
      ...
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi repellat magni soluta culpa natus reprehenderit doloribus nobis deserunt, velit reiciendis, porro, suscipit earum facilis asperiores rerum? Voluptas temporibus error impedit fugiat eum, delectus harum voluptatem dicta at deleniti laborum quidem nesciunt ratione! Quasi exercitationem eos dicta possimus quaerat praesentium odit ratione ducimus, expedita quas officia dolorum, aliquid consequuntur? Optio, ea.
    </div>
  </div>



  <div class="row my-5">
    <div class="col-3">
      <div class="nav flex-column nav-pills bg-dark" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab1" data-toggle="pill" href="#v-pills-home1" role="tab" aria-controls="v-pills-home1" aria-selected="true">Obrada betona</a>
        <a class="nav-link" id="v-pills-profile-tab1" data-toggle="pill" href="#v-pills-profile1" role="tab" aria-controls="v-pills-profile1" aria-selected="false">Vertikalni transport i oprema</a>
        <a class="nav-link" id="v-pills-messages-tab1" data-toggle="pill" href="#v-pills-messages1" role="tab" aria-controls="v-pills-messages1" aria-selected="false">Proizvodnja, transport i ugradnja betona</a>
        <a class="nav-link" id="v-pills-settings-tab1" data-toggle="pill" href="#v-pills-settings1" role="tab" aria-controls="v-pills-settings1" aria-selected="false">Oprema</a>

        <a class="nav-link" id="v-pills-home-tab2" data-toggle="pill" href="#v-pills-home2" role="tab" aria-controls="v-pills-home2" aria-selected="true">Oplatni sistemi</a>
        <a class="nav-link" id="v-pills-profile-tab2" data-toggle="pill" href="#v-pills-profile2" role="tab" aria-controls="v-pills-profile2" aria-selected="false">Sabijanje tla</a>
        <a class="nav-link" id="v-pills-messages-tab2" data-toggle="pill" href="#v-pills-messages2" role="tab" aria-controls="v-pills-messages2" aria-selected="false">Hidraulicni uredjaji i kompresori</a>
        <a class="nav-link" id="v-pills-settings-tab2" data-toggle="pill" href="#v-pills-settings2" role="tab" aria-controls="v-pills-settings2" aria-selected="false">Agregati</a>

        <a class="nav-link" id="v-pills-home-tab3" data-toggle="pill" href="#v-pills-home3" role="tab" aria-controls="v-pills-home3" aria-selected="true">Armiracki program</a>
        <a class="nav-link" id="v-pills-profile-tab3" data-toggle="pill" href="#v-pills-profile3" role="tab" aria-controls="v-pills-profile3" aria-selected="false">Uredjaji i alati za secenje </a>
        <a class="nav-link" id="v-pills-messages-tab3" data-toggle="pill" href="#v-pills-messages3" role="tab" aria-controls="v-pills-messages3" aria-selected="false">Rucni alat i merni uredjaji</a>
        <a class="nav-link" id="v-pills-settings-tab3" data-toggle="pill" href="#v-pills-settings3" role="tab" aria-controls="v-pills-settings3" aria-selected="false">Zastitna oprema</a>
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home1" role="tabpanel" aria-labelledby="v-pills-home-tab1">
          1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit voluptates perferendis nulla, facere at temporibus aliquid unde quibusdam a, inventore voluptas cupiditate quod aperiam nobis sapiente deleniti culpa, quasi minus?</div>
        <div class="tab-pane fade" id="v-pills-profile1" role="tabpanel" aria-labelledby="v-pills-profile-tab1">
          2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptate culpa dolorem quibusdam eius, animi alias aspernatur accusantium porro eum provident rerum veniam repellendus illum officiis obcaecati ipsam consequatur soluta veritatis temporibus fuga quaerat. Aspernatur quo assumenda velit quod et.
        </div>
        <div class="tab-pane fade" id="v-pills-messages1" role="tabpanel" aria-labelledby="v-pills-messages-tab1">
          3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nemo ipsam inventore dolorum corporis. Reprehenderit harum totam labore tempore quasi esse dicta expedita fuga laboriosam.
        </div>
        <div class="tab-pane fade" id="v-pills-settings1" role="tabpanel" aria-labelledby="v-pills-settings-tab1">
          4 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos delectus, odio sequi, eius vel doloremque, labore aspernatur repellendus distinctio officia nihil architecto animi? Nemo reiciendis rerum sint. Maiores dolorem tenetur libero quibusdam eos?</div>

        <div class="tab-pane fade" id="v-pills-home2" role="tabpanel" aria-labelledby="v-pills-home-tab2">
          5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, quibusdam hic aliquid natus dolores ratione temporibus, dolore cupiditate maxime possimus quo quas, placeat officiis.</div>
        <div class="tab-pane fade" id="v-pills-profile2" role="tabpanel" aria-labelledby="v-pills-profile-tab2">
          6 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam laborum beatae totam corrupti ratione voluptatem esse hic aliquid officia ullam fugit maiores, aperiam deserunt alias soluta, minima aspernatur laboriosam porro eum corporis numquam, voluptas incidunt. Laboriosam necessitatibus in qui.
        </div>
        <div class="tab-pane fade" id="v-pills-messages2" role="tabpanel" aria-labelledby="v-pills-messages-tab2">
          7 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, mollitia fugit laudantium fuga reiciendis quae error molestiae incidunt voluptatum.
        </div>
        <div class="tab-pane fade" id="v-pills-settings2" role="tabpanel" aria-labelledby="v-pills-settings-tab2">
          8 Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque rerum illum obcaecati aut, ipsum cumque enim, illo placeat blanditiis voluptatum temporibus, iure molestiae asperiores laudantium aperiam fugiat soluta architecto! Cumque a quisquam doloribus tenetur magni beatae officia quaerat perspiciatis, tempore, quos repudiandae, itaque aperiam!
        </div>


        <div class="tab-pane fade" id="v-pills-home3" role="tabpanel" aria-labelledby="v-pills-home-tab3">
          9 Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa nesciunt quisquam eligendi iure nobis expedita vel laborum provident perferendis voluptatibus dolor, suscipit facilis ex aut iusto. Provident nesciunt velit placeat praesentium non?
        </div>
        <div class="tab-pane fade" id="v-pills-profile3" role="tabpanel" aria-labelledby="v-pills-profile-tab3">
          10 Lorem ipsum dolor sit amet consectetur adipisicing elit. A fuga ab ut nihil adipisci. Labore placeat quasi illum deleniti dolores nobis autem?
        </div>
        <div class="tab-pane fade" id="v-pills-messages3" role="tabpanel" aria-labelledby="v-pills-messages-tab3">
          11 Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione optio temporibus itaque? Tempore eveniet delectus recusandae ipsa ducimus molestias sed iste odio ex eaque, a possimus provident consectetur beatae! Alias, repudiandae?
        </div>
        <div class="tab-pane fade" id="v-pills-settings3" role="tabpanel" aria-labelledby="v-pills-settings-tab3">
          12 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti atque, quidem dolores at voluptatibus magni doloribus culpa laudantium illo tenetur illum alias eligendi molestiae molestias quasi.
        </div>
      </div>
    </div>
  </div>

</div>