<!-- footer  -->
<div class="w-100 text-white bg--primary py-5" id="footer">
  <div class="row">
    <div class="col-md-4 p-3">
      <div class="card bg-transparent">
        <div class="card-body">
          <h5 class="card-title border-bottom border-white pb-2">Kontakt</h5>
          <p class="card-text footer-text">
            <!-- <i class="fa fa-map-marker mr-2"></i> -->
            <b>Izložbeno-prodajni salon</b><br />
            <!-- <span class="pl-4"></span> -->
            ul. Grcica Milenka 39, Beograd<br />
            <!-- <span class="pl-4">11000 , Srbija</span> -->
          </p>
          <p class="card-text footer-text">
            <!-- <i class="fa fa-clock mr-2"></i> -->
            <b>Radno vreme</b><br />
            <!-- <span class="pl-4"></span><br> -->
            <!-- <span class="pl-4"></span> -->
            08:00 - 16:00 Ponedeljak - Petak
          </p>
          <p class="card-text footer-text">
            <b>Kontakt informacije</b><br />
            Prodaja:<br />
            <!-- <i class="fa fa-phone mr-2"></i> -->
            +381 11 38 20 300<br />
            <!-- </p>
                        <p class="card-text footer-text"> -->
            <!-- <i class="fa fa-phone mr-2"></i> -->
            +381 11 38 20 301<br />
            <!-- </p>
                        <p class="card-text footer-text">
                            <i class="fa fa-envelope mr-2"></i> -->
            prodaja@bepro.rs<br />
            office@bepro.rs
          </p>
          <p class="card-text footer-text">
            Servis:<br />
            +381 63 297-110<br />
            servis@bepro.rs
          </p>

          <p class="card-text footer-text">
            <i class="fab fa-facebook mr-3"></i>
            <i class="fab fa-instagram"></i>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 p-3">
      <div class="card bg-transparent">
        <div class="card-body">
          <h5 class="card-title border-bottom border-white pb-2">Asortiman</h5>
          <ul class="list-unstyled">
            <li><a class="text-white footer-link" href=""> Obrada betona</a></li>
            <li><a class="text-white footer-link" href="">Vertikalni transport i dodatna oprema</a></li>
            <li><a class="text-white footer-link" href="">Proizvodnja, transport i ugradnja betona</a></li>

            <li><a class="text-white footer-link" href="">Oprema</a></li>
            <li><a class="text-white footer-link" href="">Oplatni sistemi</a></li>
            <li><a class="text-white footer-link" href="">Sabijanje tla</a></li>

            <li><a class="text-white footer-link" href="">Hidraulicni uredjaji i kompresori</a></li>
            <li><a class="text-white footer-link" href="">Agregati i pumpe</a></li>
            <li><a class="text-white footer-link" href="">Armiracki program</a></li>

            <li><a class="text-white footer-link" href="">Uredjaji i alati za secenje</a></li>
            <li><a class="text-white footer-link" href="">Rucni alat i merni uredjaji</a></li>
            <li><a class="text-white footer-link" href="">Zastitna oprema</a></li>
          </ul>
          <h5 class="card-title border-bottom border-white pb-2">
            <a class="text-white footer-link" href="">Dobavljaci</a>
          </h5>
          <h5 class="card-title border-bottom border-white py-2">
            <a class="text-white footer-link" href="">Rentiranje i polovna oprema</a>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-md-4 p-3">
      <div class="card bg-transparent">
        <div class="card-body">
          <h5 class="card-title border-bottom border-white pb-2">Pisite nam</h5>
          <form class="mt-3">
            <input type="text" class="form-control mb-2" name="name" placeholder="Ime i prezime" />
            <input type="email" class="form-control mb-2" name="email" placeholder="Email" />
            <textarea
              name="message"
              class="form-control mb-2"
              id="message"
              cols="10"
              rows="5"
              placeholder="Poruka"
            ></textarea>
            <button class="btn btn-outline-white">Posalji</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- copyright  -->
<div class="w-100 copyright bg-darkest-blue text-white text-center">
  <div class="mx-auto pt-2">
    &copy; BE PRO BUILD D.O.O. Sva prava zadrzana
  </div>
</div>
