<!-- footer  -->
<div class="w-100 bg--primary py-2" id="footer">
  <div class="content-container mx-auto">
    <div class="row px-0">

      <!-- data -->
      <div class="col-12 col-xl-6 p-3">
        <div class="row">
          <!-- address / working hours -->
          <div class="col-12 col-md-4 text-white mb-3 pl-3">
            <div class="">
              <b>BE PRO Build</b><br />
              <span class="text-light">
                ul. Grčića Milenka 39<br />
                11000 Beograd<br />
              </span>
            </div>

            <div class="mt-3">
              <b>Radno vreme</b><br />
              <span class="text-light">08:00 - 16:00<br /></span>
            </div>
            <div class="text-light">
              <i class="fab fa-facebook-square mr-3" (click)="goFacebook()"></i>
              <i class="fab fa-instagram" (click)="goInstagram()"></i>
            </div>
          </div>

          <!-- contact -->
          <div class="col-12 col-md-8 text-white mb-3 pl-3">
            <div class="row">
              <div class="col-12">
                <b>Kontakt</b><br />
              </div>

              <div class="col-4">
                <div class="text-light">
                  Kontakt telefoni</div>
              </div>

              <div class="col-8">
                <div class="text-light">
                  +381 11 38 20 300<br />
                  +381 11 38 20 301<br />
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-4">
                Email:<br />
                Prodaja:<br />
                Servis:<br />
                Rentiranje:<br />
                Polovna oprema<br />
              </div>
              <div class="col-8">
                office@bepro.rs<br />
                prodaja@bepro.rs<br />
                servis@bepro.rs<br />
                rentiranje@bepro.rs<br />
                polovnaoprema@bepro.rs<br />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- map -->
      <div class="col-12 col-xl-6 p-0">
        <!-- <img src="assets/images/mapa-bepro3.png" class="w-100"> -->
        <!-- <iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=20.487028956413273%2C44.790496756920604%2C20.492393374443058%2C44.793169251833824&amp;layer=mapnik&amp;marker=44.791833019846315%2C20.489708483219147" style="border: 1px solid black"></iframe><br /><small><a href="https://www.openstreetmap.org/?mlat=44.79183&amp;mlon=20.48971#map=18/44.79183/20.48971">View Larger Map</a></small> -->
        <iframe style='width:100%;height:200px;border:0;z-index:10000' src='https://www.planplus.rs/mapa/koordinate/44.79172648385019,20.489606522369726/13'></iframe>
      </div>
    </div>
  </div>
</div>

<!-- copyright  -->
<div class="w-100 copyright bg--primary border-top border-white text-white text-center">
  <div class="mx-auto text-white pt-2">
    &copy; {{'copyright' | translate}}
  </div>
</div>
