body {
  background: #f3f9fe;
  font-size: 14px;
}

@media (max-width: 1200px) {
  /* 575px 991*/
  body {
  }

  .logo {
    height: 55px !important;
    margin-left: 25% !important;
  }

  .bg-nav {
    background-color: transparent !important;
  }

  .main {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .header-font {
    font-size: 10px;
  }

  .header-top-border {
    border-top: solid 1px grey !important;
  }

  .header-bottom-border {
    padding-bottom: 10px !important;
    border-bottom: solid 1px grey !important;
  }

  .header-position {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
}

.header-font {
  font-size: 12px;
}

.header-top-border {
  border: none;
}

.header-bottom-border {
  padding-bottom: 0px;
  border-bottom: none;
}

.header-position {
  margin-top: 20px;
  margin-bottom: 20px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.container-fluid {
  padding: 0;
}

i,
a {
  cursor: pointer;
}

.bg-nav {
  background-color: orange;
}

#language-selector .btn {
  padding: 2px 30px;
}

.b {
  border: solid 1px red;
  padding: 0;
  margin: 0;
}

.main {
  width: 70%;
  margin: 0 auto;
}

.logo {
  height: 100px;
}

.logo-small {
  height: 30px;
}

.social-icons {
  display: inline-block;
  width: auto;
}

.language-selector {
  display: block;
  width: auto;
}

.active {
  border-bottom: solid 4px red;
}

.slider-container {
  margin-top: -30px;
}

.slider {
  width: 100%;
  height: 300px;
}

.footer,
.about {
  background: #054b89;
}

.copyright {
  background: #022c51;
  height: 40px;
}

.search-icon {
  margin-left: 10px;
  z-index: 100;
  margin-top: 12px;
}

.partners {
  margin: 10px 10px;
  padding: 5px 10px;
  width: 150px;
  height: 50px;
}

#footer .card,
#about-us .card {
  border: none !important;
  height: 350px;
}

.footer-link {
  width: auto;
  text-decoration: none;
  font-size: 12px;
}

.footer-link:hover {
  width: auto;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.5);
}

.footer-text {
  font-size: 12px;
}

#content .card-title {
  font-size: 14px;
}

#content .card-body {
  height: 60px;
  align-items: baseline;
}
