a {
  text-decoration: none !important;
  color: $gray-900 !important;
  cursor: pointer;
  font-weight: 400 !important;
}

// a:hover {
// font-weight: 500 !important;
// }

// gradients & shadows
// $enable-gradients: true;
// $enable-shadows: true;

@media (max-width: 576px) {
  .content-container {
    width: 100% !important;
  }
}

@media (min-width: 992px) {
  .content-container {
    width: 80% !important;
    // margin: 0 auto;
    padding: 0;
  }
}

.info-line {
  height: 40px;
}

p {
  color: $bepro-primary;
}
