@import "src/theme/theme-variables";

// .navbar {
//   margin-bottom: $spacer;
// }

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.top-row {
  height: 34px;
  font-size: 0.8rem;
  font-weight: 500;
}

.pointer-default {
  cursor: default;
}
