<div class="w-100 top-row bg--primary text-white">
  <!-- top-row -->
  <div class="row content-container mx-auto">
    <div class="col-8 pl-2 text-xs-left col-xl-8 text-xl-right pr-3 py-2">
      Kontakt telefon: 011 3820 300, 011 3820 301
    </div>
    <div class="col-4  text-xs-right col-xl-4 text-xl-left  py-2">
      <span class="mr-3"><a class="text-white" (click)="setLanguage('Sr')" [ngClass]="{'text-secondary': currentLanguage === 'Sr' }">SR</a></span>
      <span class="mr-3">|</span>
      <span class="mr-5"><a class="text-white" (click)="setLanguage('En')" [ngClass]="{'text-secondary': currentLanguage === 'En' }">EN</a></span>
      <i class="fa fa-user mr-4" *ngIf="isLoggedIn" routerLink="/administration"></i>
      <i class="fa fa-user mr-4" *ngIf="!isLoggedIn" routerLink="/login"></i>
      <i class="fas fa-sign-out-alt" *ngIf="isLoggedIn" (click)="logout()" title="{{ 'Logout' | translate }}"></i>
      <i class="fas fa-sign-out-alt pointer-default" *ngIf="!isLoggedIn"></i>
    </div>
  </div>
</div>

<!-- navigation -->
<div class="w-100">
  <div class="content-container mx-auto sticky-top bg-light border-bottom">
    <nav class="navbar navbar-expand-xl navbar-light bg-light pt-2">
      <a class="navbar-brand" routerLink="/home">
        <img src="assets/images/bepro-logo.png" class="logo" alt="" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li *ngFor="let m of menuItems" class="nav-item" [ngClass]="{'dropdown': m.isDropdown}">
            <a class="nav-link text-left btn menu-text mr-2" routerLink="{{m.link}}" *ngIf="!m.isDropdown">
              {{ m.name | translate }}</a>
            <a class="nav-link dropdown-toggle text-left btn menu-text mr-2" *ngIf="m.isDropdown" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ m.name | translate }}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="m.values">
              <a *ngFor="let v of m.values" class="dropdown-item menu-text" (click)="goTo(v.link)">{{v.name | translate}}</a>
            </div>
          </li>
          <li class="nav-item">
            <form class="form-inline my-2 my-lg-0" #f="ngForm">
              <input class="form-control mr-sm-2 mr-xl-2" type="search" [(ngModel)]="searchValue" name="searchValue" required placeholder="{{'Search' | translate}}">
              <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" (click)="search()" [disabled]="f.invalid"><i class="fa fa-search"></i></button>
            </form>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>