<!-- about -->
<div class="w-100 bg-light" id="about">
  <!-- slider -->
  <ng-image-slider #slider [images]="mainSliderImages" [imageSize]="imageSize" [autoSlide]="3" [showArrow]="false" [manageImageRatio]="false" [arrowKeyMove]="true" [infinite]="true" [slideImage]="1" [animationSpeed]="1" (imageClick)="onSliderImageClick($event)" [imagePopup]="false">
  </ng-image-slider>

  <!-- about -->
  <div class="row content-container mx-auto text-primary">
    <div class="col-12 col-xl-6">
      <h1 class="mx-3">{{'About' | translate}}</h1>
      <p class="text-center"><img src="assets/images/lideri.png" class="w-100" alt="" /></p>
    </div>
    <div class="col-12 col-xl-6 mt-3">
      <div class="col-xs-12 col-xl-12">
        <h3 class="">{{'home.representation' | translate}}</h3>
        <p class="mt-1 text-secondary">{{'home.representation-text' | translate}}</p>
      </div>
      <div class="col-12 col-xl-12 mt-3">
        <h3 class="">{{'home.wholesale-retail' | translate}}</h3>
        <p class="mt-1 text-secondary">{{'home.wholesale-retail-text' | translate}}</p>
      </div>
      <div class="col-12 col-xl-12 mt-3">
        <h3 class="">{{'home.service' | translate}}</h3>
        <p class="mt-1 text-secondary">{{'home.service-text' | translate}}</p>
      </div>
    </div>

  </div>
</div>

<!-- content  -->
<div class="w-100" id="content">
  <div class="row content-container mx-auto">
    <div class="d-flex col-12  my-3">
      <h1 class="mx-3">{{'Products' | translate}}</h1>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12 mt-3 " *ngFor="let pi of productImages; let i=index;">
      <div class="card ">
        <div class="card-body"><a routerLink="/products/{{i+1}}">
            <div class="img-hover-zoom img-hover-zoom--xyz">
              <img class="card-img" src="{{pi.image}}" alt="{{pi.title | translate}}" />
            </div>
          </a>
        </div>
        <div class="d-flex flex-column justify-content-center">
          <h4 class="card-title transparent-overlay text-center">
            {{pi.title | translate}}
          </h4>
        </div>
      </div>
    </div>
  </div>

  <!-- brands -->
  <div class="w-100 bg-secondary py-2">
    <ng-image-slider #partners [images]="brands" [autoSlide]="2" [showArrow]="false" [manageImageRatio]="false" [arrowKeyMove]="true" [infinite]="true" [slideImage]="4" [animationSpeed]="1" [imageSize]="brandSize" (imageClick)="onBrandsImageClick($event)" [imagePopup]="false">
    </ng-image-slider>
  </div>
</div>